<section class="container-grid posicionamento2">
    <div class="nov">
        <div class="itens"><a href="#">Nintendo Switch</a></div>
        <div class="itens2"><a href="#"itens><img class="imgnov" src="assets/imagens/nsw.png" alt="Nintendo Switch"></a></div>
        <div class="preço"><a href="#">R$ 2.200,00 á vista ou 10x s/ juros!</a></div>
    </div>
    <div class="nov">
        <div class="itens"><a href="#">Nintendo Switch</a></div>
        <div class="itens2"><a href="#"itens><img class="imgnov" src="assets/imagens/ntdswitch.png" alt="Nintendo Switch"></a></div>
        <div class="preço"><a href="#">R$ 2.200,00 á vista ou 10x s/ juros!</a></div>
    </div>
</section>