<header>
<div class="header">
    <div class="container-grid posicionamento">
        <div>
            <a routerLink="" href="index.html" id="home"><img class="logo" src="assets/imagens/pacman.svg" alt="Logo do site Game Mania"></a>
        </div>
        <div>
            <a routerLink="" href="index.html" id="home2"><img class="logo2" src="assets/imagens/logo.svg" alt="Logo do site Game Mania"></a>
        </div>
        <div class="endereço">
            <div>
                <p>Rua Um, nº 2 - Centro/SP - (11)4561-2378</p>
                <div class="pesquisa">
                    <input class="search-text" type="text" name="" placeholder="O que deseja jogar hoje?" id="pesquisar">
                </div>
            </div>
        </div>
        <div class="menu">
            <a href="#"><img class="redes" src="assets/imagens/whats1.svg" alt="WhatsApp" id="whats"></a>
            <a href="https://www.facebook.com/thiago.leonardo.923/" target="_blank"><img class="redes"
                    src="assets/imagens/face1.svg" alt="Facebook" id="face"></a>
            <a href="https://www.instagram.com/thiago.leonardo.923/" target="_blank"><img class="redes"
                    src="assets/imagens/insta1.svg" alt="Instagram" id="insta"></a>
            <a routerLink="login" href="#"><img class="carrinho" src="assets/imagens/carrinho.svg" alt="Itens" id="login"></a>
        </div>
        <a href="#" onclick="mostrarMenu()"><img class="barras" src="assets/imagens/bars.svg" alt="Menu de Barras"></a>
        <div id="menu" class="menuVerticalInativo">
            <div class="menuVerticalOp">
                <a href="#">Pesquisar</a>
                <a href="#">Carrinho</a>
                <a routerLink="playstation" href="playstation.html">Playstation</a>
                <a routerLink="xbox" href="xbox.html">Xbox</a>
                <a routerLink="nintendo" href="nintendo.html">Nintendo</a>
                <a href="#">Retrô</a>
                <a href="#">Fale Conosco</a>
                <a href="#">Institucional</a>
            </div>
        </div>
    </div>
</div>
</header>
<section class="container-grid">
    <div class="posicionamento2 categoria">
        <div>
            <a routerLink="playstation" href="playstation.html" id="playstation"><img class="cat1" src="assets/imagens/cat1.svg" alt="Playstation"></a>
            <a routerLink="playstation" href="playstation.html" id="playstation_">Playstation</a>
        </div>
        <div>
            <a routerLink="xbox" href="#" id="xbox"><img class="cat2" src="assets/imagens/cat2.svg" alt="Xbox"></a>
            <a routerLink="xbox" href="xbox.html" id="xbox_">Xbox</a>
        </div>
        <div>
            <a routerLink="nintendo" href="#" id="nintendo"><img class="cat3" src="assets/imagens/cat3.svg" alt="Nintendo"></a>
            <a routerLink="nintendo" href="nintendo.html" id="nintendo_">Nintendo</a>
        </div>
        <div>
            <a href="#" id="retro"><img class="cat4" src="assets/imagens/cat4.svg" alt="Retrô"></a>
            <a href="#" id="retro_">Retrô</a>
        </div>
    </div>
</section>
