<footer>
    <div class="container-grid">        
        <div class="itensFooter">
            <div class="itensFooter1">
                <p class="opfooter">Institucional</p>
                <a href="#">Game Mania é confiável?</a>
                <a href="#">Quem somos</a>
                <a href="#">Política de vendas</a>
                <a href="#">Política de privacidade</a>
            </div>
            <div class="itensFooter2">
                <p class="opfooter">Categorias</p>
                <a routerLink="playstation" href="playstation.html" id="playstation">Playstation</a>
                <a routerLink="xbox" href="xbox.html" id="xbox">Xbox</a>
                <a routerLink="nintendo" href="nintendo.html" id="nintendo">Nintendo</a>
                <a href="#">Retrô</a>
                <a href="#">Outros</a>
            </div>
            <div class="itensFooter3">
                <p class="opfooter">Atendimento</p>
                <p>Seg. a Sexta das 9:00 ás 18:00.</p>
                <p>End.: Rua Um, nº 2 - Centro/SP</p>
            </div>
            <div class="itensFooter3">
                <p class="opfooter">Ajuda e Suporte</p>
                <p>Tel.: (11)4561-2378</p>
                <p>gamemania@gmail.com</p>
            </div>
            <div>
                <p class="opfooter">Nossas Redes</p>
                <a href="#"><img class="redesFooter" src="assets/imagens/whats2.png" alt="WhatsApp"></a>
                <a href="https://www.facebook.com/thiago.leonardo.923/" target="_blank"><img class="redesFooter" src="assets/imagens/face2.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/thiago.leonardo.923/" target="_blank"><img class="redesFooter" src="assets/imagens/insta2.png" alt="Instagram"></a>
            </div>
        </div>
