<section class="container-grid posicionamento2">
    <div class="nov">
        <div class="itens"><a href="#">Console Playstation 5</a></div>
        <div class="itens2"><a href="#"itens><img class="imgnov" src="assets/imagens/ps5.png" alt="Playstation 5"></a></div>
        <div class="preço"><a href="#">R$ 5.000,00 á vista ou 10x s/ juros!</a></div>
    </div>
    <div class="nov">
        <div class="itens"><a href="#">Console Playstation 4</a></div>
        <div class="itens2"><a href="#"itens><img class="imgnov" src="assets/imagens/ps4.png" alt="Playstation 4"></a></div>
        <div class="preço"><a href="#">R$ 2.500,00 á vista ou 10x s/ juros!</a></div>
    </div>
    <div class="nov">
        <div class="itens"><a href="#">Controle Playstation 4</a></div>
        <div class="itens2"><a href="#"><img class="imgnov" src="assets/imagens/controlePS4.png" alt="Controle Playstation 4"></a></div>
        <div class="preço"><a href="#">R$ 250,00 á vista ou 10x s/ juros!</a></div>
    </div>
</section>